@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
}

/* resets */
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
button{
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
img{
  width: 100%;
  display: block;
}
input{
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}
.resize-animation-stopper *{
  animation: none!important;
  transition: none!important;
}


.flex{
  display: flex;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.flex-sb{
  justify-content: space-between;
}
.flex-c{
  justify-content: center;
}
.grid{
  display: grid;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* section title */
.section-title h2{
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 0 24px 0;
}

.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(136, 135, 136, 0.3), rgba(46, 46, 46, 0.5)), url("https://images.unsplash.com/photo-1533285860212-c85e7140a408?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGxpYnJhcnklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}

.search-form{
    width: 100%;
    max-width: 680px;
}
.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
}
.search-form-elem .form-control{
    font-size: 2rem;
    padding: 0.6rem;
}
.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}

.booklist, .book-details{
  padding: 3rem 0;
  background-color: #f8f9fa;
}
.booklist-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.book-item{
  padding: 3rem 2rem;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
  transition: var(--transition);
}
.book-item:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-img img{
  max-width: 180px;
  margin-right: auto;
  margin-left: auto;
}
.book-item-info{
  margin-top: 2rem;
}
.book-item-info-item.title{
  line-height: 1.4;
  margin-bottom: 0.8rem;
}
.book-item-info-item.author{
  line-height: 1.4;
  margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
  opacity: 0.8;
}
.book-item-info-item.publish-year{
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
}

@media screen and (min-width: 600px){
  .booklist-content{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px){
  .booklist-content{
      grid-template-columns: repeat(3, 1fr);
  }
  .book-item-img img{
      max-width: 150px;
  }
}

@media screen and (min-width: 992px){
  .booklist-content{
      grid-template-columns: repeat(4, 1fr);
  }
  .book-item-img img{
      max-width: 120px;
  }
}

/* drop down on books */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}