{% extends 'base.html' %}
{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');background-repeat: no-repeat;background-size: cover;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class='flex flex-c text-center text-white'>
                <h2 class='header-title text-capitalize'>Welcome to the Literary Genome Project</h2><br />
                <p class='header-text fs-18 fw-3'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatibus magnam architecto aliquam. Repellat delectus sint velit dicta ea debitis ab esse laboriosam perspiciatis. Quisquam libero debitis quae nisi dignissimos.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}